/* 버튼 기본 스타일 */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--base-color-white);
    border: none;

    margin: 0;
    padding: 0 16px;
    height: 32px;

    font-size: var(--font-size-3); 
    font-weight: var(--font-weight-4);
    color: var(--base-color-1);
    background-color: transparent;

    text-wrap: nowrap;
    text-align: center;
}

.btn\:round{
    border: 1px solid var(--base-color-3);
    border-radius: var(--border-radius-px-3);

}
.btn\:square{
    border: 1px solid var(--base-color-3);
    border-radius: var(--border-radius-px-1);

}

.btn\:color{
    color: var(--base-color-1);
    background-color: var(--base-color-white);
}

.btn\:small{
    font-size: var(--font-size-3); 
    height: 24px;
}

.btn\:large{
    font-size: var(--font-size-3); 
    height: 44px;
}

.btn-submit{
    flex-basis: 100%;
    width: 300px;
    height: 40px;
    margin: 10px;

    font-size: var(--font-size-4);
    font-weight: var(--font-weight-6);
    color: var(--base-color-white);

    background-color: var(--base-color-1);
}